extends layout

block content
  .jumbotron
    .row
      .h1 Bookmarklets
      .col-sm-4
        .thumbnail.text-center
          a(href="/attendance")
            img(src="images/ClassDojo.jpg").img-responsive.img-rounded
            h2.text-muted ClassDojo Attendance
