extends layout

block content
  .container
    .jumbotron
      h1.text-center= title

      .row
        .col-sm-4
          .thumbnail.page-content
            a(href="/attendance")
              img(src="images/ClassDojo.jpg").img-responsive.img-rounded
              h2.text-center ClassDojo Attendance
